/* FONDO */
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f2f4f7;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR */
.login-container {
    width: 320px;
    text-align: center;
}

/* ICONO */
.icon {
    width: 70px;
    height: 70px;
    background: #7c88c5;
    border-radius: 20px;
    margin: 0 auto 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: white;
}

/* TITULO */
h2 {
    margin: 10px 0;
    color: #1f2d3d;
}

/* SUBTITULO */
.subtitle {
    color: #6b7280;
    margin-bottom: 25px;
}

/* LABEL */
label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #374151;
}

/* INPUT */
input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    background: #f9fafb;
    outline: none;
    margin-bottom: 15px;
}

/* MENSAJE */
.message {
    height: 20px;
    color: red;
    font-size: 14px;
}

/* BOTÓN */
button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #4a90e2;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #357abd;
}

/* TEXTO REGISTRO */
.register-text {
    margin-top: 15px;
    font-size: 13px;
}

.register-text a {
    color: #4a90e2;
    text-decoration: none;
}